body {
  background-color: #3e136e;
  color: #ffc300;
}

.firstYears {
  width: 50%;
  background-color: #dad7cd;
}

h1 {
  text-align: center;
}

.filterButtons {
  display: flex;
  justify-content: space-around;
  row-gap: 10px;
}

.voldysArmy {
  width: 50%;
  background-color: black;
}

.containers {
  display: flex;
  flex-flow: row wrap;
}
